<%= flash[:notice] %>
<h2><span class="red-text text-lighten-2">All Groups</span></h2>
<% @groups.each do |group| %>
  <div class="card-panel" >
    <%= link_to group.name, group_path(group)  %>
  </div>
<% end %>
