<!DOCTYPE html>
<html>
  <head>
    <title>Toomanycakes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/"> <h1> <b> TOO MANY CAKES </b> </h1> </a>
    <hr />
    <hr />
    <%= yield %>
  </body>
</html>
